*
!.gitignore
!*.H
/ui.H
!*.C
/ui.C
!prodatum.fl
!prodatum.png
!prodatum.ico
!prodatum.desktop
!windows.rc
!config.h.in
!CMakeLists.txt
!README
!CHANGELOG
!fl_gleam.cxx
!fltk_gleam-1.1.10.patch
!build/
!include/
!lib/