#include "config.h"

1 VERSIONINFO
FILEVERSION     PRODATUM_VERSION_MAJOR,PRODATUM_VERSION_MINOR,PRODATUM_VERSION_PATCH,1
PRODUCTVERSION  PRODATUM_VERSION_MAJOR,PRODATUM_VERSION_MINOR,PRODATUM_VERSION_PATCH,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "mods by haxorhax"
      VALUE "FileDescription", "prodatum0"
      VALUE "FileVersion", PRODATUM_VERSION
      VALUE "InternalName", "prodatum1"
      VALUE "LegalCopyright", "Jan Eidtmann"
      VALUE "OriginalFilename", "prodatum2"
      VALUE "ProductName", "prodatum3"
      VALUE "ProductVersion", PRODATUM_VERSION
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

2 ICON "resources\prodatum.ico"